/* Font Family */
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    max-width: 1080px;
}

/* Button CSS */
body .btn-primary {
    font-weight: 500;
    background-color: #f85214 !important;
    /* border-color: #e73a3e; */
    border: none;
    padding: 10px 25px;
    font-size: 18px;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

body .btn-primary::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    /* border-color: #111; */
    border: none;
    z-index: -1;
    transition: .4s;
    transform: scaleY(0);
}

body .btn-primary:hover::after {
    width: 100%;
    transform: scaleY(1);
    border-radius: 5px;

}

/* section-1 */
.section-1 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.103);
    padding: 5px;
}

.sms-icon i {
    color: #f85214;
    font-size: 45px;
}

.sms-color {
    color: #f85214;
    margin-left: 5px;
}

/* Menu */
.our-primary-menu {
    margin-left: 50px;
}

ul.our-primary-menu li a {
    display: inline-block;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
}

ul.our-primary-menu li a:hover {
    color: #f85214;
    transition: .1s;
}

ul.our-primary-menu li {
    position: relative;
}

ul.our-primary-menu li ul {
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    width: 150px;
    background-color: white;
    padding-left: 0px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.103);
    border-radius: 0px 0px 5px 5px;
    opacity: 0;
    visibility: hidden;
    transform: scaley(0);
}

ul.our-primary-menu li:hover ul {
    visibility: visible;
    opacity: 1;
    transition: all .4s ease-in-out;
    transform: scaley(1);
}

ul.our-primary-menu li ul li {
    flex-direction: column;
}

ul.our-primary-menu li:hover>a {
    color: #f85214;
}

ul.our-primary-menu span {
    font-size: 12px;
}

.section-1-button {
    margin-left: 20px;
}

/* Default */
.sizing {
    margin-left: 30px;
}

/* Section 2 */
.section-2 h2 {
    padding: 20px 0;
    margin-top: 25px;
    text-align: center;
}

.section-2 h3 {
    padding-bottom: 20px;
    margin-left: 322px;
}

.about-section-text p {
    padding-top: 50px;
}

/* Section 4 */
.section-4{}
.section-4-heading{}
.section-4-heading h2 {
    padding-bottom: 15px;
    margin-top: -67px;
}
.section-4-heading ol {
    display: inline-block;
}

.section-4-heading ol li {
    padding: 5px 0;
}
.cloudfare-section{}

.cloudfare-section p {
    font-weight: 700;
    color: #f85214;
}
/* Section 5 */
.section-5-card img{
    width: 300px;
    height: auto;
    cursor: pointer;
}
.section-5-card h4{
    padding-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
}
.section-5-card p{
    font-size: 14px;
}
/* section 7 */
.footer-one{
    background-color: #222f3e;
}
.footer-text p{
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 0;
}
